<% post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>

  <p>投稿ユーザー画像:<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <!--image_tagの後を 'sample.jpg'からpost_image.user...にすることでユーザーモデルのゲットプロフメソッドを呼び出し、結果プロフィール画像を表示できる-->
  <!--アソシエーションを設定しているので、post_imageモデルから違うモデル(user)のゲットメソッドを呼び出せた.-->
  <p>ショップ名:<%= post_image.shop_name %></p>
  <p>説明:<%= post_image.caption %></p>
  <p>ユーザーネーム:<%= post_image.user.name %></p>
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<% end %>